name: Building GitHub pages (CI)

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0

    - name: Set up Python 3.8
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8

    - name: Install OPTIMADE
      run: |
        python -m pip install --upgrade pip
        pip install -r make_ghpages/requirements.txt

    - name: Make pages
      run: cd make_ghpages && python make_pages.py
